#background{
    -fx-background-color: #1A2F4B;
}

#button{
    -fx-background-color: #84C69B;
    -fx-font: 17 ikonli;
}

#button:hover{
    -fx-font: 18 ikonli;
}

#label{
    -fx-font-size: 40px;
    -fx-font-family: ikonli;
}

#innerlabel{
    -fx-font-size: 16px;
    -fx-font-family: ikonli;
}

#textField{
    -fx-background-color: transparent;
    -fx-border-color: #84C69B;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
    -fx-font-size: 16 px;
    -fx-font-family: ikonli;
}